<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PinkSky</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
         aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" href="#" role="tab"
               aria-controls="home" aria-selected="true">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="conocenos-tab" data-bs-toggle="tab" data-bs-target="#conocenos" href="#" role="tab"
               aria-controls="conocenos" aria-selected="false">Conócenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="locaclizacion-tab" data-bs-toggle="tab" data-bs-target="#locaclizacion" href="#"
               role="tab" aria-controls="locaclizacion" aria-selected="false">Localización</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="rrss-tab" data-bs-toggle="tab" data-bs-target="#rrss" href="#" role="tab"
               aria-controls="rrss" aria-selected="false">Redes sociales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="registro-tab" data-bs-toggle="tab" data-bs-target="#registro" href="#" role="tab"
               aria-controls="registro" aria-selected="false">Inicio sesión</a>
          </li>
        </ul>
        <!--<form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>-->
      </div>
    </div>
  </div>
</nav>



